@config "../../tailwind.config.ts";
@import url("https://fonts.googleapis.com/css2?family=Purple+Purse&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-mono;
}

p,
span {
  @apply text-primaryLight;
  @apply text-base;
}

.purple-purse-regular {
  font-family: "Purple Purse", serif;
  font-weight: 400;
  font-style: swap;
}
